*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  border-top: 0;
  z-index: 1;
}

a {
  text-decoration: none;
}

.go-up-h {
  width: 2.9rem;
  border-radius: 0.4rem;
  transition: all 0.4s;
  margin-left: 96%;
  margin-top: 20vh;
}

.go-up {
  background-color: rgb(31, 134, 0);
  z-index: 1000;
  opacity: 0;
  width: 2.9rem;
  margin-left: 96%;
  margin-top: 20vh;
  transform: translateX(200px);
  transition: all 0.6s;
  border-radius: 0.4rem;
  position: fixed;
  mask-position: top;
}

.go {
  width: 100%;
  border-radius: 0.4rem;
  transition: all 0.4s;
}

.ir-a-header {
  opacity: 1;
  transform: translateX(0px);
}

header {
  padding: 3rem 1.5rem 1rem 1.5rem;
  width: 99.9%;
  height: 7.5vh;
  transition: all 0.7s;
  z-index: 10;
  position: absolute;
}

header nav {
  transition: all 0.5s;
}

header nav ul {
  transition: all 0.5s;
}

header nav ul li {
  margin-left: 2rem;
  list-style: none;
  transition: all 0.5s;
  float: left;
}

header nav ul li a {
  font-size: 1.6rem;
  color: rgb(3, 185, 3);
  text-decoration: none;
  padding: 1.2vh 2vh;
  font-family: sans-serif;
  transition: all 0.5s;
  font-style: italic;
  text-shadow: 0.1vh 0.1vh 0.2vh #000;
}

header nav ul li a:hover {
  color: #fff;
}

header nav ul .li-img a img {
  width: 12vh;
  margin-top: -3rem;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

header nav ul li>.menu-services {
margin-left: 20vh;
}

header nav ul .li-contact {
  transition: all 0.3s;
}

header nav ul .li-contact a{
  transition: all 0.3s;
  border-radius: 0.2rem;
  background-color: rgb(255, 166, 0);
  text-shadow: none;
  color: rgb(2, 158, 2);
}

header nav ul .li-contact a:hover {
  box-shadow: 1px 1px 1px #000;
  color: rgb(2, 158, 2);
}

header nav ul .li-contact:hover {
  transform: scale(1.1);
}

.fijar-header {
  position: fixed;
  padding: 2vh 2vh;
  height: 6vh;
  z-index: 10;
  background-color: #fff;
  box-shadow: 1px 9px 19px 0px rgb(255, 115, 0);
  box-shadow: 0px 10px 13px -10px rgb(255, 115, 0);
}

.fijar-header .img {
  transform: scale(0.8);
  background-color: #fff;
}

.fijar-header ul li a {
  color: rgb(0, 129, 0);
  text-shadow: none;
}

.fijar-header ul .li-contact a {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 46, 0);
}

.container .section-slider {
  width: 100%;
  height: 65vh;
  background-color: #fff;
}

.container .section-slider .section-slider-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container .section-slider .section-slider-img .sli-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.container .section-slider .section-slider-img .section-slider-text {
  width: 100%;
  height: 12vh;
  margin: 50vh 0 0 0vh;
  position: absolute;
  z-index: 3;
  border-radius: 0.4rem;
}

.section-slider-text h3 {
  width: 100%;
  font-family: sans-serif;
  font-size: 5vh;
  color: rgb(3, 185, 3);
  text-decoration: none;
  font-style: italic;
  text-shadow: 0.2vh 0.1vh 5px #000;
  margin-left: 106vh;
}

.WyNumber {
  display: flex;
  margin: 0.2vh 0;
}

.section-slider-text h2 {
  font-family: sans-serif;
  font-size: 6vh;
  color: rgb(3, 185, 3);
  width: 100%;
  text-shadow: 0.2vh 0.1vh 5px #000;
}

.WyNumber .slider-what-img {
  width: 20rem;
  margin: 0vh 2vh 0 106vh;
}


.section-slider-img ul {
  padding: 0;
  display: flex;
  width: 400%;
  animation: cambio 12s infinite alternate-reverse;
}

.section-slider-img li {
  list-style: none;
  width: 100%;
}

@keyframes cambio {
  0% {margin-left: 0;}
  15% {margin-left: 0;}

  25% {margin-left: -100%;}
  40% {margin-left: -100%;}

  50% {margin-left: -200%;}
  65% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

.section-obra-blanca-gris-negra {
  background-image: url("../img/img1.jpg");
  background-attachment: fixed;
  height: 35vh;
  width: 100%;
  border-top: orange 0.2rem solid;
  border-bottom: orange 0.2rem solid;
  padding: 3rem 3rem;
  margin-top: -1.1rem;
}

.obras {
  width: 100%;
  height: 100%;
  display: flex;
}

.obra-negra, .obra-gris, .obra-blanca {
  width: 27%;
  height: 100%;
  margin: 0 3%;
  display: flex;
  padding: 0.5rem 1rem;
}

.obras img {
  width: 50%;
  height: 100%;
  margin-right: 3rem;
  border-radius: 0.4rem;
  box-shadow: 3px 1px 3px #333;
}

.obras h2 {
  padding: 1rem 0;
  margin: 0 auto;
  font-size: 1.7rem;
  font-family: sans-serif;
  font-style: italic;
  color: rgb(3, 185, 3);
  text-shadow: 0.1vh 0.1vh 1px #000;
}

.obras li {
  font-size: 1.4rem;
  font-family: sans-serif;
  color: rgb(3, 185, 3);
  text-shadow: 0.1vh 0.1vh 1px #000;
}

.section-services {
  width: 100%;
  height: 200rem;
  padding-top: 4rem;
  margin-bottom: 3rem;
}

.services-title {
  width: 100%;
  height: 5rem;
  justify-content: center;
}

.services-title h1 {
  font-family: sans-serif;
  text-align: center;
  font-size: 3rem;
  color: rgb(0, 119, 0);
  font-style: italic;
  margin: 0 0 0rem 28.5rem;
}

.banner-navigation {
  width: 25rem;
  height: 25rem;
  float: left;
  transition: all 0.3s;
  opacity: 0;
  position: fixed;
  margin-top: -74rem;
  transform: translateX(-260px);
}

.posicionar-banner {
  transform: translateX(0);
}

.mostrar-banner {
  animation: mostrar-banner 0.3s;
}

@keyframes mostrar-banner{
  0% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0px);
  }
}

.botoon-navigation {
  transition: all 0.2s;
}

.botoon-navigation:hover {
  width: 110%;
  padding-left: 2rem;
}

.navigation-obra-blanca, .navigation-enchape, .navigation-pintar, .navigation-electricista, .navigation-gas, .navigation-todero {
  width: 100%;
  height: 14%;
  padding: 0.8rem 0rem 0rem 0rem;
  margin-bottom: 0.7rem;
  overflow: hidden;
  border-radius: 0.6rem;
  margin-left: -0.6rem;
  border-left: 0.5rem #fff solid;
  border-top: 0.1rem rgb(255, 115, 0) solid;
  border-bottom: 0.1rem rgb(255, 115, 0) solid;
  border-right: 0.1rem rgb(255, 115, 0) solid;
}

.banner-navigation div a {
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  padding: 1.3rem 21rem 1.3rem 2rem;
  background-color: rgb(255, 227, 188);
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.services {
  width: 70%;
  height: auto;
  float: right;
  margin-right: 2.5rem;
  margin-top: 3rem;
}

.section-services-obra-blanca, .section-services-enchape, .section-services-pintar, .section-services-electricista, .section-services-gas, .section-services-todero {
  width: 100%;
  height: 35vh;
  border-radius: 0.4rem;
  border-bottom: orange 0.2rem solid;
  margin-bottom: 4rem;
  padding: 3rem 2rem;
}

.section-services-obra-blanca-text, .section-services-enchape-text, .section-services-electricista-text, .section-services-pintar-text, .section-services-gas-text, .section-services-todero-text {
  width: 100%;
  height: 20%;
  border-radius: 0.4rem;
  border-bottom: 0.2rem orange solid;
  padding: 1.4rem;
}

.services h4 {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(0, 160, 0);
  font-family: sans-serif;
  font-style: italic;
  text-align: center;
}

.services-img {
  width: 100%;
  height: 70%;
  margin-top: 3rem;
  display: flex;
}

.serv-img{
  width: 32%;
  height: 100%;
  border-radius: 0.4rem;
  margin: 0 0.5rem;
  overflow: hidden;
  box-shadow: 3px 1px 3px rgb(134, 134, 134);
}

.serv-img a {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.serv-img img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}


.serv-img img:hover {
  transform: scale(1.1);
}

.section-contact {
  margin-top: 10vh;
  width: 100%;
  height: 30vh;
  padding: 4rem 6rem;
}

.section-contact-title{
  width: 20%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
  padding: 3rem 0;
  border-radius: 0.4rem;
}

.section-contact-title h2 {
  font-size: 2rem;
  font-family: sans-serif;
  font-style: italic;
}

.section-contact-social-networks {
  width: 100%;
  height: 60%;
  margin: 0 auto;
  padding: 3rem 1rem 3rem 3rem;
  display: flex;
  border: 0.2rem rgb(255, 115, 0) solid;
  margin-top: 2rem;
}

.contact-a {
  width: 22%;
  height: 100%;
  text-decoration: none;
  margin-left: 4rem;
  margin-right: 4rem;
  font-style: italic;
  font-family: sans-serif;
}

.section-contact-social {
  width: 100%;
  height: 100%; 
  border-radius: 0.4rem;
  display: flex;
  overflow: visible;
}

.contact-img {
  width: 19%;
  height: 100%;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border-radius: 1rem;
}

.contact-img img {
  width: 80%;
  margin-left: 0.7rem;
}

.section-contact-social-networks-facebook-img {
  background-color: rgb(0, 14, 212);
  box-shadow: 5px 5px 9px -2px rgba(0,0,0,0.33);
}

.section-contact-social-networks-gmail-img {
  background-color: rgb(184, 3, 3);
  box-shadow: 5px 5px 9px -2px rgba(0,0,0,0.33);
}

.section-contact-social-networks-instagram-img {
  background-color: rgb(221, 6, 167);
  
  box-shadow: 5px 5px 9px -2px rgba(0,0,0,0.33);
}

.section-contact-social-networks-whatsapp-img {
  background-color: rgb(0, 167, 0);
  box-shadow: 5px 5px 9px -2px rgba(0,0,0,0.33);
}

.contact-text {
  width: 75%;
  height: 100%;
  padding: 1rem;
  overflow: visible;
}

.contact-text h3 {
  font-size: 1.6rem;
  color: #000;
  font-family: sans-serif;
}

.section-emergency {
  width: 100%;
  height: 13vh;
  padding-top: 5vh;
  margin: 3vh 0 7vh 0;
}

.section-emergency-content {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.section-emergency-content-button {
  width: 100%;
  height: 100%;
  background-color: rgb(39, 117, 44);
  border-radius: 0.4rem;
  padding: 2%;
}

.section-emergency-content-button h2 {
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
}

.section-emergency-content-button1 {
  width: 100%;
  height: 35%;
  border-radius: 0.4rem;
  padding: 1rem;
}

.section-emergency-content-button1 h2 {
  text-align: center;
  font-size: 1.3rem;
  font-family: sans-serif;
}

.section-emergency a {
  text-decoration: none;
  color: #000;
}

.footer {
  background-color: rgb(3, 29, 0);
  width: 100%;
  height: 40vh;
  margin-top: 10vh;
}

.footer ul {
  display: flex;
  width: 100%;
  padding: 3rem 5rem;
}

.footer ul li {
  margin: 2rem 4rem 2rem 4rem;
  list-style: none;
}

.footer ul .img-f {
  width: 14rem;
  border-radius: 10rem;
}

.footer ul li a {
  color: #fff;
  width: 10rem;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-style: italic;
}