*{
box-sizing: border-box;
padding: 0px;
margin: 0;
}

html {
font-size: 62.5%;
scroll-behavior: smooth;
overflow-x: hidden;
}

body{
border-top: 0;
z-index: 1;
}

a {
text-decoration: none;
}

.go-up-h {
width: 2.9rem;
border-radius: 0.4rem;
transition: all 0.4s;
margin-left: 96%;
margin-top: 100vh;
}

.go-up {
background-color: rgb(31, 134, 0);
z-index: 1000;
opacity: 0;
width: 2.9rem;
margin-left: 96%;
margin-top: 20vh;
transform: translateX(200px);
transition: all 0.6s;
border-radius: 0.4rem;
position: fixed;
mask-position: top;
}

.go {
width: 100%;
border-radius: 0.4rem;
transition: all 0.4s;
}

.ir-a-header {
opacity: 1;
transform: translateX(0px);
}

header {
padding: 3rem 1.5rem 1rem 1.5rem;
width: 100%;
height: 6rem;
transition: all 0.7s;
z-index: 1;
margin-bottom: 3rem;
position: fixed;
}

header nav {
transition: all 0.5s;
}

header nav ul {
transition: all 0.5s;
}

header nav ul li {
margin-left: 2rem;
list-style: none;
transition: all 0.5s;
float: left;
position: relative;
}

header nav ul li a {
font-size: 1.6rem;
color: rgb(0, 104, 0);
text-decoration: none;
padding: 1rem 1.5rem;
font-family: sans-serif;
transition: all 0.5s;
font-style: italic;
}

header nav ul .link a::before{
content: "";
height: 2px;
width: 0%;
background: orange;
position: absolute;
left: 0;
bottom: -10px;
transition: all 0.5s ease-out;
}

header nav ul .link a:hover::before {
width: 100%;
}

header nav ul .li-img a img {
width: 10rem;
margin-top: -3rem;
border-radius: 0.5rem;
transition: all 0.5s;
}

header nav ul li>.menu-services {
margin-left: 22vh;
}

header nav ul .li-contact {
transition: all 0.5s;
}

header nav ul .li-contact a{
transition: all 0.5s;
border-radius: 0.4rem;
color: rgb(255, 255, 255);
background-color: rgb(0, 80, 0);
border: 1px rgb(0, 80, 0) solid;
}

header nav ul .li-contact a:hover {
background-color: #fff;
color: rgb(0, 100, 0);
}

.fijar-header {
position: fixed;
padding: 2vh 2vh;
height: 5rem;
z-index: 10;
background-color: #fff;
box-shadow: 1px 9px 19px 0px rgb(255, 115, 0);
box-shadow: 0px 10px 13px -10px rgb(255, 115, 0);
}

.fijar-header .img {
transform: scale(0.8);
background-color: #fff;
margin-top: -1.5rem;
}

.fijar-header ul li a {
color: rgb(0, 129, 0);
text-shadow: none;
}

.fijar-header ul li a:hover {
color: green;
}

.fijar-header ul .li-contact a {
padding: 1vh 2vh;
}

.container {
    margin-top: 12rem;
    width: 100%;
    height: 100%;
}

.services-our {
    text-align: center;
    margin: 4rem;
}

.our-services {
    font-size: 4rem;
    font-family: sans-serif;
    font-style: italic;
    color: #070;
    font-weight: 100;
}

.father {
    opacity: 0;
    transition: all 0.5s;
}

.father-serv {
    display: flex;
    width: 85%;
    transition: 0.5s;
    height: 35rem;
    padding: 1rem 0rem 1rem 3rem;
    margin: 0 auto;
}

.serv-see {
    margin: 0.3rem 1%;
    width: 50%;
    min-width: 30rem;
    height: 100%;
    display: flex;
    border: 2px #eee solid;
    padding: 1rem;
    border-radius: 0.4rem;
    transition: all 0.5s;
}

.serv-see:hover {
    box-shadow: 0 0px 10px #999;
}

.mostrar-serv {
    animation: mostrar-serv 0.4s;
}

@keyframes mostrar-serv {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

.serv-see-img {
    width: 20rem;
    height: 100%;
}

li {
    list-style: none;
}

.serv-see img {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    box-shadow: inset 3px 1px 3px #333;
}

.serv-see-content {
    width: 50%;
    height: 100%;
    padding: 1rem 2rem;
    text-align: justify;
}

.serv-see-content h1 {
    font-size: 1.8rem;
    font-family: sans-serif;
    font-style: italic;
    margin-bottom: 5rem;
    font-weight: 100;
}

.serv-see-content ul li {
    font-size: 1.2rem;
    font-family: sans-serif;
    font-style: italic;
}

.serv-see-content .serv-see-price {
    margin: 2rem 0;
    font-size: 2rem;
}

.serv-see-content .serv-see-solicitar {
    margin: 6rem 0 0 0;
    transition: all 0.4s;
}

.serv-see-content .serv-see-solicitar a {
    padding: 1rem 1rem;
    border-radius: 0.4rem;
    background-color: green;
    color: #fff;
    transition: all 0.4s;
    border: 1px #070 solid;
}

.serv-see-content .serv-see-solicitar a:hover {
    background-color: #fff;
    border: 1px #070 solid;
    color: #070;
}

.footer {
background-color: rgb(3, 29, 0);
width: 100%;
height: 40vh;
margin-top: 10vh;
}

.footer ul {
display: flex;
width: 100%;
padding: 3rem 5rem;
}

.footer ul li {
margin: 2rem 4rem 2rem 4rem;
list-style: none;
}

.footer ul .img-f {
width: 14rem;
border-radius: 10rem;
}

.footer ul li a {
color: #fff;
width: 10rem;
text-decoration: none;
font-size: 1.4rem;
font-family: sans-serif;
font-style: italic;
}